@import "tailwindcss";

@font-face {
  font-family: 'integral-cf';
  src: url("/assets/font/Fontspring-DEMO-integralcf-bold.otf");
}

@font-face {
  font-family: 'Satoshi';
  src: url("/assets/font/Satoshi-Medium.otf");
}

*{
  font-family: 'Satoshi';
}

.font-integral{
  font-family: 'integral-cf';
}

.bg-custom-grey{
  background-color: #F0F0F0;
}
.footer-icon:hover path {
fill: white;
}


.payment-company-images {
  box-shadow: 0px 0.45px 4.48px 0px #b7b7b714;
  box-shadow: 0px 4.48px 8.96px 0px #b7b7b714;
}
